.head {
    background-image: linear-gradient(to right, #933f97, #711a75, #2c042e);
    height: 6vh;
    color: #fff;
    text-transform: uppercase;
    padding-left: 5vh;
    padding-top: 2vh;
    align-items: center;
    justify-content: center;
}

.search {
    margin-top: 5vh;
    text-align: center;
    margin-bottom: 5vh;
}

.search input {
    font-size: 20px;
    height: 40px;
    width: 300px;
    padding-left: 2vh;
    background: #bb94bd;
}

.filters {
    display: flex;
    justify-content: center;
}

.filters p {
    margin: 0 7vh;
}

.compo,
h2 {
    margin-left: 5vh;
    margin-right: 5vh;
}


h4 {
    font-size: 30px;
}

.flex-1,
.flex-2 {
    display: flex;
    margin-bottom: 5vh;
}

.flex-1 {
    flex-direction: column;
}

.flex-2 p {
    flex: 1;
}

.flex-2 div {
    flex: 5;
}

.iidd {
    background-color: #bb94bd;
    color: #fff;
    font-weight: 700;
    text-align: center;
    padding-top: 9vh;
    font-size: 30px;
    margin-right: 2vh;
}

.items {
    background-color: #711a75;
    color: #fff;
    padding: 2vh 0 2vh 2vh;
}

.iidd2 {
    background-color: #dbd5db;
    color: #711a75;
}

.items2 {
    background-color: #bb94bd;
    color: #711a75;
}